:root {
  --font-family-header: "BBH Bartle", sans-serif;
  --font-family-ubuntu: "Ubuntu", sans-serif;
  --font-family-nunito: "Nunito", sans-serif;
  --font-family-firasans: "Fira Sans", sans-serif;
}

.about-section {
  display: flex;
  gap: 60px;
  padding: 80px 10%;
  align-items: center;
  background-color: #ffffff;
}

/* IMAGE */

.about-image {
  height: 21rem;
  display: flex;
  align-items: center;
}

.about-image img {
  cursor: pointer;
  min-height: 19rem;
  width: 100%;
  max-width: 520px;
  transition: scale 0.2s ease-in-out;
}

.about-image img:hover {
  scale: 1.07;
}

/* CONTENT */
.about-content {
  max-width: 500px;
}

.about-content h2 {
  font-family: var(--font-family-firasans);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-content p {
  font-family: var(--font-family-nunito);
  font-size: 15px;
  color: #888;
  line-height: 1.7;
  margin-bottom: 20px;
}

/* QUOTE */
.quote {
  display: flex;
  gap: 15px;
  margin: 5px 0;
}

.quote-icon {
  font-size: 28px;
  color: #000;
}

.quote p {
  font-family: var(--font-family-ubuntu);
  font-style: italic;
  color: #222;
}

/* DIVIDER */
.divider {
  width: 100%;
  height: 2px;
  background: repeating-linear-gradient(
    to right,
    #ddd,
    #ddd 4px,
    transparent 4px,
    transparent 8px
  );
  margin: 30px 0;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons span {
  width: 42px;
  height: 42px;
  background-color: #222;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icons span:hover {
  transform: translateY(-4px);
}

/* ===============================
   ANIMATION ON PAGE LOAD
   =============================== */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}

.delay-1 {
  animation-delay: 0.2s;
}
.delay-2 {
  animation-delay: 0.4s;
}
.delay-3 {
  animation-delay: 0.6s;
}
.delay-4 {
  animation-delay: 0.8s;
}
.delay-5 {
  animation-delay: 1s;
}
.delay-6 {
  animation-delay: 1.2s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .quote {
    justify-content: center;
  }
}
