* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .b-header-bg {
    height: 55vh;
    width: 100vw;
    /* background-color: aqua; */
    background: rgba(0, 0, 0, 0.7) url("../../../public/image/img3.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .b-header-bg .page-title {
    height: 10rem;
    width: 20rem;
    display: grid;
    place-items: center;
    align-content: center;
  }
  
  .b-header-bg .page-title h2 {
    font-size: 2rem;
    color: aliceblue;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
    z-index: 100;
  }
  
   .b-header-bg .page-title .ul-links ul{
    /* height: 4rem; */
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0;
  }
  
  .b-header-bg .page-title .ul-links ul li{
    /* height: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .b-header-bg .page-title .ul-links ul li svg{
      font-size: 1.3rem;
      color: aliceblue;
  }
  
  .b-header-bg .page-title .ul-links ul li a{
    width: max-content;
    text-decoration: none;
    padding: 5px;
    color: aliceblue;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    font-style: normal;
  } 
  
  .b-header-bg .page-title .ul-links ul li a:hover{
      color: #dd2476;
  }