:root{
    --footer-bg-color: #222529;
}

.main-footer{
    max-height: 40rem;
    width: 100%;
    background-color: var(--footer-bg-color);
    color: white;
}

.main-footer .footer-container{
    height: 20rem;
    background-color: aquamarine;
    margin: 0 5rem;
    padding: 0 2rem;
    display: flex;
    justify-content:center space-around;
    align-self: center;
}