@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --footer-bg-color: #222529;
  --footer-li-color: #e0dedede;
  --font-family-header: "BBH Bartle", sans-serif;
  --font-family-ubuntu: "Ubuntu", sans-serif;
  --font-family-nunito: "Nunito", sans-serif;
  --font-family-firasans: "Fira Sans", sans-serif;
}

.main-footer {
  max-height: 40rem;
  width: 100%;
  background-color: var(--footer-bg-color);
  color: white;
}

.main-footer .footer-container {
  height: 20rem;
  /* background-color: aquamarine; */
  margin: 0 5rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
}

.sec-one-about{
    max-width: 24rem;
}

.sec-one-about h1{
    font-family: var(--font-family-header);
    font-size: 1.2rem;
    font-weight: 550;
    margin-bottom: 0.6rem;
}

.sec-one-about p {
  color: var(--footer-li-color);
  font-family: var(--font-family-firasans);
  font-weight: 400;
  text-transform: capitalize;
  line-height: 22px;
  font-size: 0.87rem;
}

.sec-one-about .subscribe-by-email{
  background-color: rgba(0, 255, 255, 0.47);
}

.sec-one-about .subscribe-by-email h2{
  font-size: 1rem;
}

.footer-container .sec-one-about,
.sec-two-customer-link,
.sec-three-useful-link,
.sec-four-contact {
  height: auto;
  /* background-color: aqua; */
  margin: 1.4rem 0;
}

.sec-two-customer-link .footer-list,
.sec-three-useful-link .useful-link li {
  list-style: none;
  line-height: 27px;
  /* cursor: pointer; */
}
.sec-two-customer-link .footer-list li a,
.sec-three-useful-link .useful-link li a {
  text-decoration: none;
  color: var(--footer-li-color);
  cursor: pointer;
  font-family: var(--font-family-firasans);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 0.88rem;
  margin-bottom: 0.7rem;
}

.sec-two-customer-link h2,
.sec-three-useful-link h2,
.sec-four-contact h2 {
  font-family: var(--font-family-firasans);
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.sec-four-contact h3 {
  font-family: var(--font-family-ubuntu);
  color: rgba(244, 237, 237, 0.984);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.3rem;
}

.sec-four-contact p {
  color: var(--footer-li-color);
  font-family: var(--font-family-firasans);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 0.87rem;
  margin-bottom: 0.6rem;
}

.media-icons {
  display: flex;
  gap: 16px;
  cursor: pointer;
  margin-top: 0.7rem;
}

.media-icons .facebook-icon,
.twitter-icon,
.instagram-icon {
  height: 35px;
  width: 35px;
  color: #222529;
  background-color: #94b4c1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
