:root{
    --footer-bg-color: #222529;
}

.main-footer{
    max-height: 40rem;
    width: 100%;
    background-color: var(--footer-bg-color);
    color: white;
}

.main-footer .footer-container{
    height: 20rem;
    /* background-color: aquamarine; */
    margin: 0 5rem;
    padding: 0 2rem;
    display: flex;
    justify-content:space-around;
    /* align-items: center; */
}

.footer-container .sec-one-about,
.sec-two-customer-link,
.sec-three-useful-link,
.sec-four-contact{
    height: auto;
    /* background-color: aqua; */
    margin: 1.4rem 0;
}

.sec-two-customer-link .footer-list, 
.sec-three-useful-link .useful-link li{
    list-style: none;
}

.footer-container .sec-one-about,
.sec-two-customer-link,
.sec-three-useful-link,
.sec-four-contact h2,h1{
    margin-bottom: 1rem;
}